<h3>Patient's name: <%=@patient.name %> </h3>
<h3>Patient's appointmets</h3>
  <% @patient.appointments.each do |a|%>
    <%=link_to a.readable_datetime, appointment_path(a.id) %> - doctor's name: <%=link_to a.doctor_name, doctor_path(a.doctor.id)%><br>
  <% end %>
